@keyframes zoom {
  0% {
    transform: scale(1)
  }
  14% {
    transform: scale(1.25)
  } 
  28% {
    transform: scale(1)
  }
  42% {
    transform: scale(1.25)
  }
  70% {
    transform: scale(1)
  }
}