// Переменные для шрифтов
$font-default: "Raleway", Arial, Helvetica, sans-serif;


// Переменные для цвета
$accent: #4D1BC1;
$text: #1C1E20;
$grey: #818181;
$white: #ffffff;


// Прочие переменные
$slowdown: all 0.2s ease;