@import 'vars';
@import 'mixins';


::placeholder {
  color: #666;
}
  
::selection {
  background-color: $accent;
  color: #fff;
}
  
html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: inherit;
}
  
body {
  position: relative;
  min-width: 360px;
  overflow: hidden;
  font-weight: 400;
  font-size: 15px;
  font-family: $font-default;
  line-height: 1.3;
  color: $text;
  background-color: #E5E5E5;
  
  input, textarea {
    border: #666 1px solid;
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
  
.btn {
  display: block;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $accent;
  border: none;
  border-radius: 30px;
  transition: $slowdown;
  cursor: pointer;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: lighten($accent, 10%);
    box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.2);
  }
}
   
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0;
}
  
.title-text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
}
  
.text-nowrap {
  white-space: nowrap;
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;

  @include desktop {
    max-width: 960px;
  }

  @include laptop {
    max-width: 760px;
    padding: 0 10px;
  }

  @include tablets {
    max-width: 540px;
  }

  @include phones {
    max-width: 320px;
  }
}

/* header */
.header {
  padding: 10px 40px;
  background-color: $white;

  &__line {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: auto;
  }

  &__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 60px;
  }
}


.logo {
  font-weight: 700;
  font-size: 20px;
}

.menu {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    @include lst;

  }
  &__item {

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    padding: 2px;
    font-weight: 700;
    color: $text;
    text-decoration: none;
  }
}

.link {
  font-weight: 700;
  color: $text;
  text-decoration: none;
  transition: $slowdown;

  &_help {

  }

  &:hover {
    color: $accent;
  }
}

.user {
  margin-left: 24px;

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: #C4C4C4;
    border-radius: 50%;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}


/* control */
.control {
  width: 350px;
  min-height: 140px;
  padding-top: 50px;
  padding-right: 50px;

  &__btn {
    display: flex;
    align-items: center;
    @include no-btn;
    margin-bottom: 40px;
    font-weight: 700;
  
    span {
      position: relative;
      width: 40px;
      height: 40px;
      margin-right: 12px;
      background-color: $white;
      border: 1px solid #C7C7C7;
      border-radius: 50%;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      stroke: $text;
      transform: translate(-55%, -50%);
    }

    &:hover {
      color: $accent;

      svg {
        stroke: $accent;
      }
    }
  }
}


/* top */
.top {
  width: 100%;
  padding-top: 35px;
}

.bread-crumbs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;

  &__link {
    position: relative;
    font-size: 13px;
    color: $text;
    text-decoration: none;

    &:not(:first-child) {
      padding-left: 10px;

      &::before {
        content: '/';
        position: absolute;
        top: 0;
        left: 2px;
        width: 15px;
        height: 15px;
        color: $text;
      }
    }
  }
}


/* aside */
.aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  padding-right: 50px;
  padding-bottom: 40px;

  &__wrap {
    background-color: $white;
    border: 1px solid #C7C7C7;
    border-radius: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include lst;
    padding: 20px;
    padding-left: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__link {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: $accent;
      opacity: 0;
      transform: $slowdown;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &_active {
      color: $accent;
      &::before {
        opacity: 1;
      }
    }
  }
}

/* access */
.access {
  width: 100%;

  &__wrap {
    padding: 20px;
    background-color: $white;
    border: 1px solid #C7C7C7;
    border-radius: 20px;
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
  }

  &__note {
    margin-bottom: 35px;
    font-weight: 500;
    line-height: 1.5;
    color: $grey;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__block {

    &_note {
      width: 40%;
      padding-right: 40px;
    }
    &_radio {
      width: 60%;
    }
  }

  &__site {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
  }

  &__radio {
    margin-bottom: 16px;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__btn {
    height: 40px;
    @include no-btn;
    padding: 0 16px;
    font-weight: 700;
    color: $white;
    background-color: $accent;
    border: 1px solid #C7C7C7;
    border-radius: 20px;
    transition: all 0.3s ease;

    &:not(:first-child) {
      margin-left: 12px;
    }

    &:hover {
      color: $text;
      background-color: $white;
    }

    &_invers {
      color: $text;
      background-color: $white;
      
      &:hover {
        color: $white;
        background-color: $accent;
      }
    }
  }
}

.radio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 32px;
  cursor: pointer;

  &__input {
    position: absolute;
    left: 0;
    top: 2px;
    opacity: 0;

    &:checked + .radio__label {
      &::after {
        opacity: 1;
      }
    }
  }

  &__label {
    margin-bottom: 8px;
    font-weight: 700;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 2px solid #C7C7C7;
      border-radius: 50%;
      background: $white;
    }

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 4px;
      z-index: 1;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $accent;
      opacity: 0;
      transition: $slowdown;
    }
  }

  &__text {
    font-weight: 500;
    line-height: 1.5;
    color: $grey;
  }

  &__show-field {
    margin-bottom: 16px;
  }
}

.show-field {
  display: none;
  margin-top: 20px;
  width: 100%;

  &__label {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #C7C7C7;
  }
}

.show {
  display: block;
}


/* footer */
