::-webkit-input-placeholder {
  color: #666
}
::-moz-placeholder {
  color: #666
}
:-ms-input-placeholder {
  color: #666
}
::-ms-input-placeholder {
  color: #666
}
::placeholder {
  color: #666
}
::-moz-selection {
  background-color: #4d1bc1;
  color: #fff
}
::selection {
  background-color: #4d1bc1;
  color: #fff
}
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
body {
  position: relative;
  min-width: 360px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  line-height: 1.4;
  color: #1c1e20;
  background-color: #e5e5e5
}
body input,
body textarea {
  border: #666 1px solid;
  outline: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
b,
strong {
  font-weight: 700
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0
}
.btn {
  display: block;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #4d1bc1;
  border: none;
  border-radius: 30px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #642de2;
  -webkit-box-shadow: 0 2px 9px 3px rgba(0,0,0,.2);
  box-shadow: 0 2px 9px 3px rgba(0,0,0,.2)
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2
}
p {
  margin-top: 0
}
.title-text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1.2
}
.text-nowrap {
  white-space: nowrap
}
.container {
  max-width: 1200px;
  margin: 0 auto
}
@media screen and (max-width:1200px) {
  .container {
    max-width: 960px
  }
}
@media screen and (max-width:992px) {
  .container {
    max-width: 760px;
    padding: 0 10px
  }
}
@media screen and (max-width:768px) {
  .container {
    max-width: 540px
  }
}
@media screen and (max-width:576px) {
  .container {
    max-width: 320px
  }
}
.header {
  padding: 10px 40px;
  background-color: #fff
}
.header__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__menu {
  margin-left: auto
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 60px
}
.logo {
  font-weight: 700;
  font-size: 20px
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none
}
.menu__item:not(:last-child) {
  margin-right: 20px
}
.menu__link {
  display: block;
  padding: 2px;
  font-weight: 700;
  font-size: 15px;
  color: #1c1e20;
  text-decoration: none
}
.link {
  font-weight: 700;
  color: #1c1e20;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}
.link_help {
  font-size: 15px
}
.link:hover {
  color: #4d1bc1
}
.user {
  margin-left: 24px
}
.user__link {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: #c4c4c4;
  border-radius: 50%
}
/*# sourceMappingURL=main.css.map */
