aside.aside
  button.aside__btn
    span 
      +svg('arrow')
    | Назад
  .aside__wrap
    ul.aside__list
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
      li.aside__item
        a.link.aside__link(href="/") Доступ к сайту
