header.header
  .header__line
    .logo.header__logo
      span lite.page
    .header__block
      .header__inner
        nav.menu.header__menu
          ul.menu__list
            li.menu__item
              a.link.menu__link(href="/") CRM
            li.menu__item 
              a.link.menu__link(href="/") Мои сайты
            li.menu__item 
              a.link.menu__link(href="/") Каталог
            li.menu__item 
              a.link.menu__link(href="/") Тарифы
            li.menu__item 
              a.link.menu__link(href="/") Блог
            li.menu__item 
              a.link.menu__link(href="/") Помощь

        .header__user.user
          .user__block
            span.user__foto
              +image('', 'avatar', 'Фото пользователя', 'Пользователь', 'jpg')
            .user__info
              span.user__name Артем Городецкий
              button.user__exit Выйти

  button.toggle-menu(aria-label="Кнопка меню")
    span