include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body
    include blocks/header.pug

    .main-wrap
      .container
        include blocks/aside.pug
        include blocks/access.pug


    include blocks/footer.pug