include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body
    include blocks/header.pug

    .container
      .wrapper
        include blocks/control.pug
        include blocks/top.pug
      .wrapper
        include blocks/aside.pug
        include blocks/access.pug


    include blocks/footer.pug